@charset "UTF-8";
 body {
    background-color: #15495C;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }

 h1 { 
    text-align: center;
    background-color:#258eb5;
    color: rgb(18, 82, 138);
    width: 400px;
    height: 40px;
    margin: auto;
    margin-top:150px;
    margin-left: auto;
    padding-bottom:20px;
    margin-bottom:-1px;
    padding-left: 30px;  
    border-radius: 5px;
 }

 article {
    background-color: #45b9e3;
   margin: auto;
    width: 400px;
    height: 200px;
    padding: 1px 10px 35px 20px;
    font-size: 17px;
 }

 